Theoretical SELECT statement
```sql
SELECT [ALL | DISTINCT] {*|expression [, expression ...]} ​
FROM table name​
[WHERE conditions(s)]​
[GROUP BY column name [, column name ...]​
[HAVING conditions(s)]​
[ORDER BY {column name |seq nr}{ASC|DESC}[,...]
```

# Example 1 - All Columns
Show all data of all products

In [1]:
SELECT 
* FROM Product

# Example 2 - Certain Columns
Show for all a products the `productID`, `name` and `unit price`

In [3]:
SELECT 
 ProductId
,ProductName
,Price 
FROM Product​;

# Example 3 - TOP
Show for the first 3 products the `productID`, `name` and `unit price`
> Remark - How is the data filtered?

In [4]:
SELECT TOP 3
 ProductId
,ProductName
,Price 
FROM Product​;

# Example 4 - WHERE
Show `ProductId`, the `name` of the product and the `unit price` of all products from `product class 1`
> Note: It's not required to SELECT the column(s) you're filtering on.

In [5]:
SELECT 
 ProductId
,ProductName
,Price 
FROM Product​
WHERE ProductClassId = 1

# Example 5 - Comparison
Show `ProductID`, `Name`, `units in stock` for all products with **less than 5** units in stock

In [7]:
SELECT 
 ProductId
,ProductName
FROM Product
WHERE UnitsInStock < 5​

# Example 6 - LIKE
Show productID, name of the products for which the second letter is in the range a-k

In [0]:
SELECT 
 ProductId
,ProductName​
FROM Product
WHERE ProductName LIKE '_[a-k]%'​

# Example 7 - Logical Operators
Show the `id`, `name`, `price` of the `Products` where the `name` starts with a `T` **or** the `ProductId` is equal to 46 **and** the `price` is more than 16 EUR.

In [0]:
SELECT 
 ProductId
,ProductName
,Price
FROM Product
WHERE (ProductName LIKE 'T%' OR ProductId = 46 )
  AND Price > 16

# Example 8 - Range
Show `ProductId`, `name`, `SupplierId` of the `Products` supplied by suppliers with ID [1, 3 or 5]​

In [8]:
SELECT 
 ProductId
,ProductName
,SupplierId​
FROM Product​
WHERE SupplierId in (1,3,5)​

# Example 9 - IS  NULL
Select suppliers from an unknown region​
> Remark : A NULL is not equal to 0 (for numerical values), blank or empty string ​
(for character values)!​

In [9]:
SELECT 
 SupplierName
,Region​
FROM Supplier​
WHERE Region IS NULL​

# Example 10 - Caveats NULL
Show the Supplier for the region different from 'MI'

In [11]:
SELECT 
 SupplierName
,Region​
FROM Supplier​
WHERE Region <> 'MI'​

In [12]:
SELECT 
 SupplierName
,Region​
FROM Supplier​
WHERE Region <> 'MI'​ OR Region IS NULL

# Example 11 - Comments
/* comments */  ​

 -- comments (rest of line is comment)

In [0]:
SELECT 
 ProductId
-- ,ProductName
-- ,Price 
FROM Product​;

SELECT 
 ProductId,
--  ProductName,
--  Price 
FROM Product​;

In [0]:
SELECT 
 ProductId
/*,ProductName
,Price */
FROM Product​;

# Example 12 - Order by
Show an alphabetic list of product names​

In [0]:
SELECT 
 ProductName​
,Price
FROM Product​
-- ORDER BY ProductName -- Alternatively ORDER BY 1​
order by 2

# Example 13 - Order By Descending
Show `ProductId`, `Name`, `ProductClassId` of the `Products` sorted by `ProductClassId`. If the class is the same products with the highest price appear first.

In [14]:
SELECT 
 ProductId
,ProductName
,ProductClassId
,Price​
FROM Product​
ORDER BY 
 ProductClassId ASC
,Price DESC

# Example 14 - DISTINCT
Show all **unique** suppliers that supply products​

In [15]:
SELECT
SupplierId​
FROM Product​
ORDER BY SupplierId ​

In [16]:
SELECT DISTINCT
SupplierId​
FROM Product​
ORDER BY SupplierId ​

# Example 15 - Aliasses
Select `ProductID`, `ProductName` of the products, but show rename the columns as `PNumber` and `Product Name`

In [18]:
use xtreme
SELECT 
 ProductId AS ProductNummer
,ProductName AS [Product Name]
FROM Product​ p

# Example 16 - Calculations
Give the name and inventory value of the products​

In [0]:
SELECT 
 ProductName
,Price * UnitsInStock AS InventoryValue​
FROM Product​

# Example 17 - String Functions

In [9]:
SELECT concat(address,' ',city) FROM employee​;
SELECT address + ' ' + city FROM employee;
SELECT SUBSTRING(address,1,5) FROM employee;
SELECT LEFT(address,5) FROM employee;
SELECT RIGHT(address,5) FROM employee;
SELECT LEN(address) FROM employee;
SELECT LOWER(address) FROM employee;
SELECT UPPER(address) FROM employee;
SELECT RTRIM(LTRIM(address)) FROM employee

# Example 18 - Date/Time Functions

In [10]:
SELECT GETDATE();
SELECT GETUTCDATE();
-- DATEADD (year, 2, GETDATE());​
-- DATEADD (month, 2, GETDATE());​
-- DATEADD (day, 2, GETDATE());
SELECT DATEDIFF(day,BIRTHDATE,GETDATE()) FROM EMPLOYEE;
-- DAY(GETDATE())
-- MONTH(GETDATE())
-- MONTH(GETDATE())

# Example 19 - Arithmetic Functions

In [0]:
-- ABS(-10)
-- ROUND(10.75,1)
-- FLOOR(10.75)
-- CEILING(10.75)

# Example 20 - Switch

In [12]:
SELECT​
   CASE ​
      WHEN price IS NULL THEN 'Not yet priced'
      WHEN price < 10 THEN 'Very Reasonable Price'​
      WHEN price >= 10 and price < 20 THEN 'Affordable'​
      ELSE 'Expensive!'​
   END AS [Price Category]
,ProductName ​
,Price
FROM Product​

# Example 21 - Sum

In [17]:
SELECT 
SUM(UnitsInStock * Price) AS [Inventory Value​]
FROM Product​

# Example 22 - Average

In [0]:
SELECT 
AVG(UnitsInStock) AS [Average Stock] ​
FROM Product​

# Example 23 - Still Counting
Returns the number of rows, or a number of **NOT NULL values** in a column​

Count the number of products - In other words, the number of rows.

In [0]:
SELECT 
COUNT(*) as [Amount]
FROM Product

Count the number of `NOT NULL` values in column `ProductTypeId`

In [18]:
SELECT COUNT(ProductTypeId) as [No. of Types]​
FROM product​

Count the number of `UNIQUE NOT NULL` values in column `ProductTypeId`​

In [15]:
SELECT 
COUNT(DISTINCT(ProductTypeId)) as [No. of Unqiue Types] 
FROM product​

# Example 24 - Min Max
What is the cheapest and most expensive unit price?​

> Remark​ :
>
> Since a statistical function returns only 1 result, either all expressions in the SELECT clause  have to contain a statistical function, or none! ​
This is slightly different if you use grouping (see further). ​
> Statistical functions do not take into account NULL values. ​
Exception : COUNT(*) also counts rows with NULL values.​

In [21]:
SELECT 
ProductName
, MIN(price) AS Cheapest
, MAX(price) AS Expensive ​
FROM product​
group by productname

# Example 25 - Grouping
What are the different producttypes of the products?

In [6]:
SELECT 
ProductTypeID
FROM Product​
GROUP BY ProductTypeID

In [5]:
SELECT DISTINCT
ProductTypeID
FROM Product​

Show per type the number of products

In [28]:
SELECT 
 ProductTypeID
,COUNT(*)​
FROM Product​
GROUP BY ProductTypeID​

Show per type the number of products that have more than 10 items in stock.

In [0]:
SELECT 
 ProductTypeID
,COUNT(*)​
FROM Product​
WHERE unitsinstock > 10​
GROUP BY ProductTypeID​

# Example 26 - Filtering Groups
- WHERE vs HAVING​
- WHERE – works on individual rows​
- HAVING – works on groups
> Statistical functions can only be used in SELECT, HAVING, ORDER BY not in WHERE, GROUP BY.
> 
> If statistical functions appear in the SELECT, then all items in the SELECT-list have to be either statistical functions or group identifications

Show per type that contains more than 10 products the number of products

In [31]:
SELECT 
 ProductTypeID
,COUNT(*)​ AS [Amount]
FROM Product​
GROUP BY ProductTypeID​
HAVING [Amount] > 10​

Note that using an alias won't work.

In [29]:
SELECT 
 ProductTypeID
,COUNT(*)​ As [Amount]
FROM Product​
GROUP BY ProductTypeID​
HAVING [Amount] > 10​

Show per type that contains more than 10 products with more than 10 units in stock the number of products​

In [0]:
SELECT 
 ProductTypeID
,COUNT(*)​
FROM Product​
WHERE UnitsInStock > 10​
GROUP BY ProductTypeID​
HAVING COUNT(*) > 10​

# Example 27 - [INNER] JOIN
Give the team number and name of the captain of each team​.

In [19]:
USE Tennis;
SELECT 
 TEAMNO
,NAME​
FROM TEAMS 
    INNER JOIN PLAYERS​ ON TEAMS.PLAYERNO = PLAYERS.PLAYERNO​

With alias
> Remark : If the same column name is used in several tables in a query, then each column name has to be preceeded by the table name or its alias.

In [33]:
USE TENNIS
SELECT 
T.TEAMNO
,P.NAME​
FROM TEAMS T 
    INNER JOIN PLAYERS P​ ON T.PLAYERNO = P.PLAYERNO​
    JOIN PLAYERS P​ ON T.PLAYERNO = P.PLAYERNO​

# Example 28 - Unary Join
Show all employees and the name of their manager

In [38]:
USE xtreme
SELECT 
werknemer.employeeID
,CONCAT(werknemer.lastname,' ',werknemer.firstname) as Employee
,CONCAT(baas.lastname,' ',baas.firstname) as Boss​
FROM employee werknemer 
 LEFT JOIN employee baas ON werknemer.reportsto=baas.employeeid;​

# Example 29 - OUTER JOIN
Give for all players their player number, name and the list of their penalties

In [9]:
SELECT 
p.playerno
,Name
,Amount ​
FROM Players p 
    LEFT JOIN Penalties pe ON p.PlayerNo = pe.PlayerNo ​
ORDER BY p.PlayerNo​

# Example 30 - CROSS JOIN
Make a competition schedule in which each player plays once against each other player

> Remark : In a cross join the number of rows in the result set equals the number of rows in the first table multiplied by the number of rows in the second table, in other words generate all combinations.

In [43]:
USE tennis
SELECT 
p1.name + ' ' + p1.initials PLAYER1,
 '-' AGAINST,
p2.name + ' ' + p2.initials PLAYER2
from players p1 cross join players p2
where p1.playerno < p2.playerno
order by p1.playerno;